h1, h2, h3{
    background-color: black;
    color: white;
    display: inline;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
}

li, p{
    font-family: 'Roboto Mono', monospace;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-family: 'Roboto Mono', monospace;
}
  
td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}
  
th {
    background-color: white;
}
  
td {
    text-align: center;
}
  

em{
    color: white;
    background-color: black;
}

.protocol{
    color: black;
    background-color: white; 
}

.note{
    background-color: whitesmoke;
    display: inline-block;
}

.note-title{
    color: white;
    background-color: black;
}

.topnav {
    background-color: white;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto Mono', monospace;
}
  